.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root{
  --w:#d0efff;
  --c1:#03254c;
  --c2:#1167b1;
  --c3:#187bcd;
  --c4:#2a9df4;
}
body{
  font-family: 'Fira Sans', sans-serif;
}
.title{
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.title h2{
  font-size: 35px;
}
.title span{
  color: rgb(226, 110, 15);
}