.skills{
    padding: 50px 0 100px;
    background: var(--w);
}
.skills .container .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 40px;
}
.skills .container .grid .card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background: #2a9cf4a2; */
    background: #1166b149;
    text-align: center;
    border-radius: 10px;
}
.skills .container .grid .card i{
    font-size: 40px;
    color: var(--c1);
}