main{
    height: 90vh;
    width: 100%;
    background: linear-gradient(to top right,var(--c2) 30%,#03254cce),
    url(../../../public/img/me4.jpg) no-repeat center center/cover;
}
main .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}
main .container h2{
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
}
main .container p{
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(219, 245, 168);
}
main .container .btns{
    display: flex;
    gap: 10px;
}
main .container .btns a{
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
main .container .btns a.dark{
    background: white;
    color: #000;
}
main .container .btns a:hover{
    background: white;
    color: #000; 
}
main .container .btns a:hover i{
    color: #000;
}
main .container .btns a i{
    margin-left: 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
main .container .social-icons{
    /* position: absolute;
    left: 40px;
    bottom: 40px; */
    display: flex;
    gap: 15px;
    margin-top:30px;
}
main .container .social-icons a{
    color: white;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.451);
    font-size: 20px;
    border-radius: 4px;
    background:var(--c1);
    transition: all .3s ease-in-out;
}
main .container .social-icons a:hover{
    background:var(--c3);
    color: var(--w);
}
main .wave{
    position: absolute;
    bottom: 0px;
}